@tailwind base;

@tailwind components;

@tailwind utilities;

button,
textarea,
input,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content p {
  @apply my-6;
}

.content ul {
  @apply my-3;
}

.notificationWrapper {
  @apply flex flex-row dark:text-stone-900 items-center w-96 px-4 py-6  text-white shadow-2xl hover:shadow-none transform-gpu translate-y-0 hover:translate-y-1 rounded-xl relative transition-all duration-500 ease-in-out;
}

.notificationWrapper-default {
  @apply bg-gray-900 dark:bg-white;
}

.iconWrapper {
  @apply text-xl;
}

.contentWrapper {
  @apply flex flex-col items-start justify-center ml-4 cursor-default;
}

.contentWrapper h1 {
  @apply text-base dark:text-stone-900 text-gray-200 font-semibold leading-none tracking-wider;
}

.contentWrapper p {
  @apply text-sm dark:text-stone-900 text-gray-400 mt-2 leading-relaxed tracking-wider;
}

.closeIcon {
  @apply absolute top-2 right-2 cursor-pointer text-lg;
}

.icn-spinner {
  animation: spin-animation 2.5s infinite;
  animation-timing-function: linear;
  display: inline-block;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
